//comentario en Sass
/*comentario en CSS*/

//imports
@import "general/reset";
@import "utils/variables";
@import "utils/mixin";
@import "general/coupon";

header{
    background-color: $main-color;
}

 .nav-link{
    color: $color-white;
    float: right;

    &:hover{
        color: $secondary-color;
        margin-left: 5px;
    }
 }

 .navbar-toggler{
    background-color: $secondary-color;
 }

  /* main section */
  .main-section{
    display: inline-flex;
 }

 .section-element{
    padding: 50px;
    position: relative;
    text-align: center;
    width: 45%;
    margin: 25px;

    h2{
        margin-bottom: 200px;
        margin-top: 100px;
        font-weight: 600;
        font-size: 48px;
    }

    p{
        width: 85%;
        text-align: left;
        letter-spacing: 1px;
        left: 0;
        margin-left: 50px;
        text-transform: uppercase;
    }
 }

 .section-button{
    padding: 10px;
    margin: 20px;
    margin-top: 200px;
    position: absolute;
    right: 0;
 }

  /* Stats */
  .statistics{
    display: inline-flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
    margin-bottom: 20%;
    height: 300px;
    align-items: center;
 }

 .stat-element{
    padding: 50px 100px;
    font-size: 28px;
    font-weight: bold;
 }

 /*Footer*/
 footer{
    background-color: #24262b;
    padding: 70px 0;

    .footer-col{
        width: 25%;
        padding: 0 15px;

        h4{
            font-size: 18px;
            color: $color-white;
            text-transform: capitalize;
            margin-top: 35px;
            margin-bottom: 15px;
            font-weight: 500;
        }

        ul{
            li{
                a{
                    font-size: 16px;
                    color: $color-white;
                    text-decoration: none;
                    font-weight: 300;
                    color: #bbbbbb;
                    display: block;
                    margin-bottom: 10px;

                    &:hover{
                        color: $color-white;
                        padding-left: 8px;
                    }
                }
            }
        }

        .social-links{
            a{
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(255,255,255,0.2);
                margin:0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: $color-white;

                &:hover{
                    color: $main-color;
                    background-color: $color-white;
                }
            }
        }
     }
  }

  /*History*/
  .history-element{
    text-align: center;
    margin: 100px 50px;
    img{
        margin: 20px;
        @include img-shadow(15px, 10px, 30px, $secondary-color);
    }
 }

 /* Offices */

 .carousell{
    margin-top: 200px;
    text-align: center;
    img{
        width: 800px;
        @include img-shadow(15px, 10px, 30px, $secondary-color);

    }
    .office-info{
        margin-top: 30px;
        h4{
            text-transform: uppercase;
        }
    }
 }

 .map{
    margin-top: 100px;
    align-items: end;
    text-align: right;
    margin-bottom: 100px;
    margin-right: 55px;
    span{
        margin-right: 50px;
    }

    &:hover{
        cursor: pointer;
    }
 }
